[Unit]
Description=GaApp Gamma modular application

[Service]
WorkingDirectory=/root/GaApp
ExecStart=/root/GaApp/run.sh
SyslogIdentifier=GaApp
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
